.background-container {
  position: fixed;
  top: 60px;
  right: 0;
  width: 45%;
  height: calc(100vh - 60px);
  z-index: -1;
  background-color: #000000;
}

.background-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}